.cabecalho{
    background-image: url("./img/image.png");
    height: 50px;
 }
  :root {
    --cor-de-fundo: #ba1caa;
    --cor-principal: #19d3e4;
    --cor-segundaria: #0f068b;
    --cor-destaque: #0e6109;
    --cor-de-texto: #000000;
  }
